*{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

body{
  margin: 0px;
}

#content{
  height: 100vh;
  max-width: 100vw;
  display: grid;
  grid-template-rows: 80px 1fr;
  grid-template-columns: 200px 1fr;
}

.topbar{
  display: flex;
  grid-column: 1 / 3;
  background-color: black;

  align-items: center;
  font-size: 30px;
  color: white;
  font-weight: bold;
  justify-content: space-between;
}

#logo{
  width: 180px;
  max-height: 180px
}

#hello{
  display: flex;
  justify-self: center;
  align-self: flex-end;
  padding-bottom: 10px;
}

#padding{
  width: 180px;
}

#navbar{
  background-color: rgb(4, 51, 51);
  color: white;
  display: grid;
  grid-template-rows: repeat(auto-fill, 20px);
  grid-template-columns: 90% 10%;
  row-gap: 10px;
  padding-top: 10px;
}

.topbar,#navbar{
  padding-left: 15px;
}

#inbox{
  display: grid;
  background-color: rgb(46, 46, 46);
}

.buttonContainer{
  display: grid;
}

#addProject{
  display:grid;
  align-self: center;
  justify-self: end;
  background-image: url('../assets/plus.svg');
  background-size: 20px 20px;
  height: 20px;  
  width: 20px;
  margin-right: 20px;
  border: none;
  background-color: rgba(0, 0, 0, 0)
}

#addToDo{
  display:grid;
  justify-self: center;
  background-image: url('../assets/plus.svg');
  background-repeat: no-repeat;
  background-size: 40px 40px;
  background-position: center;
  height: 55px;  
  width: 90%;
  border: 1px solid purple;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0)
}

.deleteButton{
  display:grid;
  justify-self: end;
  background-image: url('../assets/minus.svg');
  filter: invert(33%) sepia(83%) saturate(1336%) hue-rotate(325deg) brightness(94%) contrast(89%);
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: center;
  height: 30px;  
  width: 30px;
  margin: 5px;
  border: none;
  background-color: rgba(0, 0, 0, 0)
}

.deleteButtonSmall{
  display:grid;
  grid-column: 2;
  justify-self: end;
  background-image: url('../assets/minus.svg');
  filter: invert(33%) sepia(83%) saturate(1336%) hue-rotate(325deg) brightness(94%) contrast(89%);
  background-repeat: no-repeat;
  background-size: 40px 40px;
  background-position: center;
  height: 20px;  
  width: 20%;
  border-radius: 20px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  margin: 5px;
}

.projectDiv{
  height: fit-content;
}

.projectDiv:hover{
  background-color: rgb(49, 48, 48);
}

.projectDiv:active{
  background-color: rgb(172, 172, 172);
}

.activeDiv{
  background-color: rgb(172, 172, 172);
}

.todoDiv{
  display: grid;
  grid-template-columns: 95% 5%;

}

.todoDiv > div{
  grid-column: span 2;
  color: white; 
  margin: 10px;
}

.todoTitle{
  font-size: 22px;
  font-weight: bold;
}

.priority10{
  background-color:rgb(1, 92, 61)
}

.priority9{
  background-color:rgb(1, 68, 10)
}

.priority8{
  background-color:rgb(4, 15, 51)
}

.priority7{
  background-color:rgb(36, 1, 82)
}

.priority6{
  background-color:rgb(66, 3, 126)
}

.priority5{
  background-color:rgb(85, 20, 0)
}

.priority4{
  background-color:rgb(85, 62, 21)
}

.priority3{
  background-color:rgb(119, 1, 103)
}

.priority2{
  background-color:rgb(128, 9, 15)
}

.priority1{
  background-color:rgb(129, 0, 0)
}